<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>jspfiles</web-resource-name>
			<description>can't direct access jsp page files, must by spring mvc</description>
			<url-pattern>/areas/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>No direct browser access to JSP files</description>
            <role-name>NobodyHasThisRole</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>